body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}
div {
    margin: 0px;
    padding: 0px;
}
h1 {
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    margin: 0px;
    padding: 0px;
    font-size: 10vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    font-size: 3vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7fe600, 0 0 40px #e6cb00, 0 0 50px #cfe600, 0 0 60px #e6b800, 0 0 70px #5f6a00;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 2;
}
a:hover {
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000;
    color: #444cf7;
    z-index: 5;
}
.layer1 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: none;
    padding: none;
}

.layer2 {
  width: 100%;
  margin-left: -100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: none;
}

.tv-static {
  width: 100vw;
  height: 100vh;
  margin: none;
  padding: none;
  background-image: repeating-radial-gradient(circle at 17% 32%, white, black 0.00085px);    
}

.animation1 {
  animation: back1 1s linear infinite;
}

.animation2 {
  animation: back2 0.1s linear infinite;
}

@keyframes back1 {
  from {
    background-size: 100% 100%;
  }

  to {
    background-size: 99% 100%;
  }
}

@keyframes back2 {
  from {
    background-size: 48.56% 50%;
  }

  to {
    background-size: 43.9% 50.1%;
  }
}
#overlay {
    display: block;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0.1;
}
#bodyDiv {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    background-image:  linear-gradient(30deg, rgb(72, 61, 142) 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}
#panelDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#enableAudioButtonDiv {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 5%;
}
#muteButton {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: transparent;
    border: none;
}
#muteButtonIcon {
    width: 100%;
    background: radial-gradient(rgba(255, 255, 255, 0.238), rgb(255, 255, 255, 0.13), rgba(255, 255, 255, 0));
    border-radius: 50%;
    padding: 5px;
    transition-duration: 1s;
}
#muteButtonIcon:hover {
    background: radial-gradient(rgba(255, 255, 255, 0.3), rgb(255, 255, 255, 0.13), rgba(255, 255, 255, 0));
}
#muteButtonIcon:active {
    background: radial-gradient(rgba(255, 0, 0, 0.3), rgb(255, 255, 255, 0.13), rgba(255, 255, 255, 0));
}